body {
  height: 100hv;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;

  button {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    padding: 50px;
    border-radius: 28px;
    font-size: 72px;
    font-weight: 900;
    cursor: pointer;
    background-color: white;

    &:active {
      background-color: azure;
    }
  }
}
